@font-face {
  font-family: origram;
  src: url(origames.ttf);
}

@font-face {
  font-family: diceicon;
  src: url(diceicons.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: origram;
}

.return-btn {
  position: fixed;
  z-index: 32;
  bottom: 11vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.return-btn:hover {
  -webkit-transform: translate(-50%) scale(1.02) !important;
          transform: translate(-50%) scale(1.02) !important;
}

h1 {
  background-size: 100% 100%;
  line-height: 10vh;
  width: 70vh;
  height: 15vh;
  position: absolute;
  top: 15vh;
  left: 50%;
  text-align: center;
  font-size: 4vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #8d8563;
}

.scr-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.scr {
  position: relative;
  min-width: 100vw;
  max-height: 100vh;
  height: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  padding-right: 10vh;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.scr .continue-btn {
  position: fixed;
  bottom: 11vh;
  right: 5vh;
  z-index: 40;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.scr .player-area {
  height: 100vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scr .player-area .name {
  display: none;
}

.scr .player-area .re-btn {
  position: absolute !important;
  bottom: -26%;
  z-index: 0;
}

.scr .player-area .re-btn span {
  height: 10vh;
  font-size: 8vh !important;
  font-family: map !important;
  color: #bea36a !important;
}

.scr .player-area .re-btn li:nth-of-type(1) span {
  top: 1.6vh !important;
  font-size: 5.5vh !important;
  color: black !important;
  font-family: diceicon !important;
}

.scr .endturn-btn {
  position: absolute;
  bottom: 11vh;
  right: 5%;
  height: 8vh;
  z-index: 10;
}

.scr .endturn-btn p {
  position: absolute;
  width: 20vh;
  left: 8vh;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.scr .endturn-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #644c2f;
}

.scr .start-com {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(22, 22, 22, 0.6)), color-stop(rgba(22, 22, 22, 0.6)), color-stop(rgba(22, 22, 22, 0.6)), to(transparent));
  background-image: linear-gradient(transparent, rgba(22, 22, 22, 0.6), rgba(22, 22, 22, 0.6), rgba(22, 22, 22, 0.6), transparent);
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10vh;
  color: white;
  -webkit-animation: startcom 1.6s ease forwards;
          animation: startcom 1.6s ease forwards;
}

.scr .en-area {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.scr .en-area .status span {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.scr .en-area .status span p {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.scr .en-area .dam {
  -webkit-transform: rotateY(180deg) translate(50%, -50%) !important;
          transform: rotateY(180deg) translate(50%, -50%) !important;
}

.scr .en-area .hp-bar {
  -webkit-transform: rotateY(180deg) translate(50%) !important;
          transform: rotateY(180deg) translate(50%) !important;
}

.scr .en-area .dp-meter {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.scr .hovering::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' width='333.32' height='533.38' version='1.1' viewBox='0 0 333.32 533.38'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg%2Bxml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title/%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg transform='translate(-.0039062 .022097)' fill='%23c7b72f'%3E%3Cpath d='m240.18 0.042072v6.418h53.194v33.309h33.47v53.32h6.4596v-59.353h-33.786v-33.69z'/%3E%3Cpath d='m280.29 20.507v5.8125h46.106v-19.254h-19.711v46.227h6.2314v-40.084h7.3362v6.9385z'/%3E%3Cpath d='m246.95 10.998v4.7288h39.38v-4.6889z'/%3E%3Cpath d='m317.49 47.017h4.7067v39.487h-4.7951z'/%3E%3Cpath d='m0.0039062 93.102h6.418v-53.194h33.309v-33.47h53.32v-6.4596h-59.353v33.786h-33.69z'/%3E%3Cpath d='m20.469 53h5.8125v-46.106h-19.254v19.711h46.227v-6.2314h-40.084v-7.3362h6.9385z'/%3E%3Cpath d='m10.96 86.333h4.7288v-39.38h-4.6889z'/%3E%3Cpath d='m46.978 15.799v-4.7067h39.487v4.7951z'/%3E%3Cpath d='m93.153 533.36v-6.418h-53.194v-33.309h-33.47v-53.32h-6.4596v59.353h33.786v33.69z'/%3E%3Cpath d='m53.052 512.89v-5.8125h-46.106v19.254h19.711v-46.227h-6.2314v40.084h-7.3362v-6.9385z'/%3E%3Cpath d='m86.385 522.4v-4.7288h-39.38v4.6889z'/%3E%3Cpath d='m15.851 486.38h-4.7067v-39.488h4.7951z'/%3E%3Cpath d='m333.32 440.23h-6.418v53.194h-33.309v33.47h-53.32v6.4596h59.353v-33.786h33.69z'/%3E%3Cpath d='m312.86 480.34h-5.8125v46.106h19.254v-19.711h-46.227v6.2314h40.084v7.3362h-6.9385z'/%3E%3Cpath d='m322.37 447h-4.7288v39.38h4.6889z'/%3E%3Cpath d='m286.35 517.54v4.7067h-39.487v-4.7951z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scr .char-container {
  position: relative;
  width: 25vh;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scr .char-container .name {
  position: absolute;
  bottom: -1.5vh;
  color: #9a784e;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  opacity: 0;
}

.scr .char-container:hover .name {
  -webkit-transition: 0.5s 0.5s ease;
  transition: 0.5s 0.5s ease;
  opacity: 1;
}

.scr .char-container:hover .hp-bar {
  opacity: 1;
}

.scr .char-container .status-cont {
  position: absolute;
  left: 0;
  width: 90%;
  bottom: 4.7vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.scr .char-container .status-cont .status {
  margin: 0 0.5vh;
  position: relative;
  height: 4.5vh;
}

.scr .char-container .status-cont .status img {
  height: 4.5vh;
}

.scr .char-container .status-cont .status p {
  color: white;
  font-size: 4vh;
  position: absolute;
  right: -15%;
  bottom: -30%;
  text-shadow: -0.1vh -0.1vh 0 black, 0.1vh -0.1vh 0 black,
 -0.1vh 0.1vh 0 black, 0.1vh 0.1vh 0 black;
}

.scr .char-container .status-cont .status .bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4.5vh;
  height: 100%;
  z-index: -1;
}

.scr .char-container .dam {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 7vh;
  color: white;
  text-shadow: -0.1vh -0.1vh 0 black, 0.1vh -0.1vh 0 black,
 -0.1vh 0.1vh 0 black, 0.1vh 0.1vh 0 black;
  -webkit-animation: dam 2.5s ease forwards;
          animation: dam 2.5s ease forwards;
  -webkit-transition: 3s ease;
  transition: 3s ease;
  z-index: 500;
}

.scr .char-container .efco {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.scr .char-container .efco span {
  font-family: diceicon;
  font-size: 10vh;
  color: #ffde98;
  -webkit-animation: hitIcon 0.7s ease-out forwards;
          animation: hitIcon 0.7s ease-out forwards;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.scr .char-container .efco div {
  position: absolute;
}

.scr .char-container .img {
  position: absolute;
  background-size: contain;
  -webkit-transform: scale(0.99, 1) translate(-50%);
          transform: scale(0.99, 1) translate(-50%);
  height: 100%;
  left: 50%;
  bottom: 3vh;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: breath 3.4s infinite;
          animation: breath 3.4s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.scr .char-container .die-conta {
  position: relative;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.scr .char-container .die-cont {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  z-index: 4;
  position: absolute;
  top: -20%;
  height: 30%;
  width: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: floating 8s linear infinite;
          animation: floating 8s linear infinite;
}

.scr .char-container .die-cont .die-list {
  position: relative;
}

.scr .char-container .die-cont .stun {
  -webkit-animation: stunned 1.5s linear infinite;
          animation: stunned 1.5s linear infinite;
}

.scr .char-container .hp-bar {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
  height: 2vh;
  text-align: center;
  line-height: 2.2vh;
  font-size: 2.5vh;
  color: white;
  -webkit-clip-path: polygon(calc(0% + 3vh) 0%, 100% 0, calc(100% - 3vh) 100%, 0% 100%);
          clip-path: polygon(calc(0% + 3vh) 0%, 100% 0, calc(100% - 3vh) 100%, 0% 100%);
  opacity: 0.7;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.scr .char-container .hp-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7c7564;
  z-index: -3;
}

.scr .char-container .hp-bar .meter {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: red;
  -webkit-clip-path: inherit;
          clip-path: inherit;
}

.scr .char-container .hp-bar .meter .poison {
  background: lawngreen;
  height: 100%;
  width: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-clip-path: polygon(calc(0% + 3vh) 0%, 100% 0, calc(100% - 3vh) 100%, 0% 100%);
          clip-path: polygon(calc(0% + 3vh) 0%, 100% 0, calc(100% - 3vh) 100%, 0% 100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scr .char-container .hp-bar .a-meter {
  -webkit-transition: 0.6s 1.2s;
  transition: 0.6s 1.2s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: #ebdeb6;
  -webkit-clip-path: inherit;
          clip-path: inherit;
}

.scr .char-container .dp-meter {
  position: absolute;
  bottom: 0.7vh;
  right: -1vh;
  width: 5vh;
  height: 5vh;
  z-index: 1;
  line-height: 5vh;
  text-align: center;
  font-size: 3.5vh;
  color: white;
  text-shadow: -0.1vh -0.1vh 0 rgba(0, 0, 0, 0.5), 0.1vh -0.1vh 0 rgba(0, 0, 0, 0.5), -0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5), 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5);
}

.scr .char-container .dp-meter::after {
  content: "S";
  font-family: diceicon;
  position: absolute;
  top: 0.2vh;
  right: -2.3vh;
  width: 100%;
  height: 100%;
  font-size: 4.2vh;
  color: #bea36a;
  text-shadow: -0.1vh -0.1vh 0 rgba(0, 0, 0, 0.5), 0.1vh -0.1vh 0 rgba(0, 0, 0, 0.5), -0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5), 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.scr .char-container .tr-con {
  position: absolute;
  bottom: -3vh;
  right: 2vh;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' width='28.5' height='30.2' version='1.1' viewBox='0 0 28.5 30.2'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg%2Bxml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title/%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg transform='translate(31 7.5)'%3E%3Cg transform='translate(-54.1 6.81)'%3E%3Cg transform='rotate(-4.46 37.8 .274)' stroke-opacity='.0627'%3E%3Cpath d='m24.5-14.1-0.558 3.27 0.202 1.74 0.305 1.45 1.7 6.79 0.464 4.18 0.0829 8.89 1.56 1.49 2.09 1.03 2.51 0.62 3.02 0.354 3.13 0.0272 0.267-0.129 9.09-5.76 0.491-0.794 0.263-0.671 1.04-3.75 1.23-2.92 0.269-1.51-0.227-0.754-1.07-1.27-6.29-5.28-7.97-5.03-5.35-2.37-2.45-0.639-1.89-0.139-1.22 0.328z' fill='%23f6e091'/%3E%3Cpath d='m25.9-14.8 1.29 4.3 0.411 0.277 14.8 6.48 3.29 2.32 0.0611 0.261-1.59 2.65-5.41-2.36-8.93-2.29-0.494 0.0451 9.66 18.8 9.39-5.83 0.491-0.794 1.28-4.5 1.22-2.89 0.269-1.51-0.227-0.754-1.03-1.22-6.29-5.28-7.97-5.03-5.35-2.37-2.45-0.639-1.89-0.139-1.93 1.35-0.537 3.09 0.508 3.19 2.14 7.67-0.0175 9.93 0.126 2.26 1.52 1.43 2.09 1.03 2.51 0.62 3.02 0.354 3.13 0.0272-9.66-18.8z' fill='%23edcc06'/%3E%3Cpath d='m27.4 12-0.408 0.374-0.249-0.0638 1.52 1.43 2.09 1.03 2.51 0.62 3.02 0.354 3.13 0.0272 0.267-0.129-0.0629-1.38 1.89-4.77 6.66-0.996 1.36-0.0803 1.04-3.75 1.23-2.92 0.269-1.51-0.227-0.754-11.4 9-9.34-1.41-4.08-17.4-1.08-3.69-0.965 0.012-0.556 3.19 0.164 1.76 0.343 1.51 1.66 6.74 0.657 6.09-0.073 1.51 0.995 3.58z' fill='%23dca51b'/%3E%3Cpath d='m28 10.7-0.599 1.21 11.8 2.26 0.0868-0.248 0.821-5.44-5.87 0.175-2.73-0.667z' fill='%23bb6816'/%3E%3Cpath d='m24.5-14.1 0.689-0.839 1.22-0.328-0.44 0.613 3.43 11.7 1.96 8.43 0.276 0.516 2.45 0.495 6.16-0.0744 1.92-0.521 4.49-3 4.13-3.8-0.433-0.908 1.03 1.22-0.0215 0.597-0.388-0.322-2.11 2.64-2.4 2.29-4.65 3.4-2.57 5.93 0.821-5.44-5.87 0.175-2.73-0.667-3.53 2.7 1.29-2.68 0.37-1.57-2.2e-4 -1.38-4.15-19.2z' fill='%23fdfdfa'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") -2 -2, pointer;
  height: 4vh;
}

.scr .newdieface {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  z-index: 1000;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.scr .newdieface:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.scr .add-dieface {
  -webkit-animation: addNewDieFace 0.8s ease forwards;
          animation: addNewDieFace 0.8s ease forwards;
}

.scr .dialog-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15vh;
  height: 75vh;
  -webkit-animation: openEvent 1s 500ms ease-in-out forwards;
          animation: openEvent 1s 500ms ease-in-out forwards;
  font-size: 2.5vh;
}

.scr .dialog-container::after, .scr .dialog-container::before {
  width: 25vh;
}

.scr .dialog-container hr {
  opacity: 0;
  height: 1.5vh;
}

.scr .dialog-container b {
  text-shadow: 0 0 0.1h #9a784e;
  font-weight: lighter;
}

.scr .dialog-container .event-header {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -4vh;
  width: 80vh;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.54 2.222'%3E%3Cg transform='translate(-98.12 -113.2)'%3E%3Cg transform='matrix(1.078 0 0 1.044 -4.396 -7.005)' stroke-width='.943'%3E%3Cpath d='m95.13 115.2 0.1688 1.188-0.1688 0.9405 6.353-0.1798 6.399 0.1426 2.819-0.1476 4.416 0.1849-0.1149-0.4651 0.1149-1.664-3.153 0.1268-3.629-0.1188-4.258 0.1347-5.954-0.1426z' fill='%23d8d0ab' stroke-opacity='.06275' stroke-width='.2353'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% 100%;
  color: #9a784e;
}

.scr .dialog-container .inner-event-container {
  opacity: 0;
  -webkit-animation: displayEvent 1s 500ms ease forwards;
          animation: displayEvent 1s 500ms ease forwards;
}

.scr .dialog-container .event-img {
  position: absolute;
  left: 10vh;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 45vh;
  width: 45vh;
}

.scr .dialog-container .event-text {
  top: 15vh;
  padding: 0.5vh 2.5vh;
}

.scr .dialog-container .event-option-list,
.scr .dialog-container .event-text {
  position: absolute;
  bottom: 15vh;
  width: 57vh;
  right: 10vh;
}

.scr .dialog-container .event-option-list .option,
.scr .dialog-container .event-text .option {
  list-style: none;
  border: 0.3vh solid rgba(154, 120, 78, 0.5);
  width: 100%;
  margin: 1vh 0 0;
  padding: 0.5vh 2.5vh;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.scr .dialog-container .event-option-list .option:hover,
.scr .dialog-container .event-text .option:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border: 0.3vh solid #9a784e;
}

.scr .dialog-container .event-option-list .option .icon,
.scr .dialog-container .event-text .option .icon {
  position: relative;
  padding-right: 1vh;
  top: 0.2vh;
  left: 1vh;
}

.scr .dialog-container .event-option-list .option:active,
.scr .dialog-container .event-text .option:active {
  background-color: rgba(154, 120, 78, 0.5);
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.newdiecont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20vh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 25;
}

.up-cont {
  position: relative;
}

.up-cont .upgrade-cont {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 95vh;
  height: 45vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: fadeIn 0.2s ease forwards;
          animation: fadeIn 0.2s ease forwards;
}

.up-cont .upgrade-cont::after, .up-cont .upgrade-cont::before {
  width: 11.5%;
}

.up-cont .upgrade-cont .upgrade-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

.up-cont .upgrade-cont .con {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 3;
}

.up-cont .upgrade-cont .con:hover {
  -webkit-transform: translate(-50%, 50%) scale(1.05);
          transform: translate(-50%, 50%) scale(1.05);
}

.up-cont .upgrade-cont .no-click {
  color: rgba(255, 0, 0, 0.6);
  pointer-events: none;
}

.up-cont .upgrade-cont .inner-box {
  -webkit-clip-path: none;
          clip-path: none;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.up-cont .upgrade-cont .inner-box div {
  position: relative;
}

.up-cont .upgrade-cont .inner-box .max {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 3vh;
  color: #9a784e;
}

.up-cont .upgrade-cont .inner-box .arrow {
  background: #8d8563;
  width: 7vh;
  height: 5vh;
  -webkit-clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%);
          clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%);
}

.up-cont .upgrade-cont .inner-box .plus {
  background: #8d8563;
  width: 5vh;
  margin: 0 1vh;
  height: 5vh;
  -webkit-clip-path: polygon(0% 30%, 30% 30%, 30% 0%, 70% 0%, 70% 30%, 100% 30%, 100% 70%, 70% 70%, 70% 100%, 30% 100%, 30% 70%, 0% 70%);
          clip-path: polygon(0% 30%, 30% 30%, 30% 0%, 70% 0%, 70% 30%, 100% 30%, 100% 70%, 70% 70%, 70% 100%, 30% 100%, 30% 70%, 0% 70%);
}

.up-cont .upgrade-cont .inner-box .cost {
  width: 20vh;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5.5vh;
  padding-left: 2vh;
  color: #9a784e;
}

.up-cont .upgrade-cont .inner-box .cost span {
  margin: 1vh;
}

.up-cont .upgrade-cont .inner-box li {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 8vh;
}

.reward-con {
  -webkit-animation: fadeIn 0.5s ease-in forwards;
          animation: fadeIn 0.5s ease-in forwards;
  opacity: 0;
  position: absolute;
  width: 103vw;
  height: 103vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  z-index: 12;
  padding: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reward-con::before {
  position: absolute;
  content: "";
  width: 60vh;
  height: 80vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 522 1257'%3E%3Cpath d='m0.2863 12.08 74.64-12.08 375.4 0.3436 71.5 9.507-10.57 231.1 0.9506 264.4-27.56 8.433 30.11 0.6579 2.894 79.05-40.2 15.52 39.17 1.708 0.3795 61.82-16.85 4.535 15.55 3.887-11.01 254.6 5.166 162.1-23.67 3.414 25.9 5.034 2.899 43.91-52.31 11.02 55.35 1.395 3.583 76.07-98.15 18.34-338.2-0.1145-84.87-18.55 0.6372-78.58 18.13-5.689-18.34-37.22 18.97-192.2-19.46-146.1 25.27-3.887-23.34-11.2 23.66-333.2-12.34-134 21.69 19.01-19.45-50.72-11.02-109.7 24.61-6.66-22.69-9.9 7.44-75.01z' fill='%23d8d0ab' stroke-opacity='.06275'/%3E%3C/svg%3E");
  background-size: 100%;
  background-position: bottom;
}

.reward-con::after {
  content: "";
  position: absolute;
  width: 60vh;
  height: 80vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 522 1257'%3E%3Cpath d='m15.89 264.4 495.4-23.36 0.9531 264.3-27.56 8.433-458.7-83.63-12.34-134 21.69 19.01z' fill-opacity='.03' stroke-opacity='.06275'/%3E%3Cpath d='m19.85 924.6 484.9 11.01 11.01-254.6-15.55-3.887-497.9 86.28 23.34 11.2-25.27 3.887z' fill-opacity='.03' stroke-opacity='.06275'/%3E%3C/svg%3E");
  background-size: 100%;
  background-position: bottom;
}

.reward-con .loot {
  list-style: none;
  margin: 0.3vh;
  width: 50vh;
  height: 6vh;
  background: #cdc18f;
  color: #9a784e;
  font-size: 3vh;
  padding: 0 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5vh solid #d2c89d;
  -webkit-transition: 0.05s ease;
  transition: 0.05s ease;
}

.reward-con .loot span {
  margin-right: 3vh;
  font-size: 4.5vh;
  height: 105%;
}

.reward-con .loot span img {
  height: 4.5vh;
}

.reward-con .loot:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  border-color: #bea36a;
}

.reward-con .loot-option {
  position: absolute;
  width: 22vh;
  height: 22vh;
  bottom: 16vh;
  outline: none;
  border: 0.5vh solid #d2c89d;
  background: #cdc18f;
  -webkit-transition: 0.05s ease;
  transition: 0.05s ease;
  font-size: 2.5vh;
  line-height: 37vh;
  color: #9a784e;
  text-align: center;
}

.reward-con .loot-option:hover {
  border-color: #bea36a;
}

.reward-con .loot-option .loot-image {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 90%;
}

.reward-con .loot-option1 {
  -webkit-transform: translate(-60%);
          transform: translate(-60%);
}

.reward-con .loot-option1::after {
  content: "or";
  position: absolute;
  font-size: 4vh;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
  color: #9a784e;
  pointer-events: none;
}

.reward-con .loot-option2 {
  -webkit-transform: translate(60%);
          transform: translate(60%);
}

.dice-card {
  width: 35vh;
  height: 25vh;
  margin: 5vh;
  padding: 3vh 2vh 2vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dice-card::before, .dice-card::after {
  width: 6vh;
}

.dice-card .s-die {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28vh;
  height: 20vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dice-card .s-die li {
  width: 9vh;
  height: 9vh;
}

.dice-card .s-die .focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transform: scale(1.15) !important;
          transform: scale(1.15) !important;
}

.shake {
  -webkit-animation: shake 0.1s linear infinite;
          animation: shake 0.1s linear infinite;
}

.heal {
  -webkit-animation: heal 1s linear;
          animation: heal 1s linear;
}

.attack {
  -webkit-transition: 80ms ease !important;
  transition: 80ms ease !important;
  left: 80% !important;
}

.hit {
  -webkit-transition: 100ms ease !important;
  transition: 100ms ease !important;
  left: 40% !important;
  height: 95% !important;
}

.slice{
  transform: translate(-15vh, -50%) scale(0, 0);
  transform-origin: left;
  z-index: 5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 98.01 13.85'%3E%3Cg transform='translate(-42.84 -118.1)'%3E%3Cpath d='m42.84 124.6 26.29 7.388 71.72-8.035-71.5-5.818z' fill='%23fff' stroke-width='.2646'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% 100%;
  width: 10vh;
  height: 1vh;
  animation: slice 800ms ease;
}

@keyframes slice {
  20%{
    transform: translate(-15vh, -50%) scale(3.5, 1);
    opacity: 1;
  }
  100%{
    transform: translate(-15vh, -50%) scale(3.5, 1);
    opacity: 0;
  }
}

.punch{
  left: 50%;
  top: 50%;
  z-index: 5;
  background-size: 100% 100%;
  width: 20vh;
  height: 10vh;
  transform: scale(0, 0) translate(-50%, -50%);
  opacity: 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55.25 57.33'%3E%3Cg transform='translate(142.5 -11.71)' fill='%23fff' stroke-width='.2646'%3E%3Cpath d='m-119.1 49.13-10.48 1.263 6.782-3.835-4.911-1.637 2.105-0.9822-16.88-2.993 5.051-0.09354-3.022-0.6852 16.91 0.7607-3.175-3.026 7.011 2.745 1.108 2.646 4.146 2.74-3.718-1.087-3.222 3.441z'/%3E%3Cpath d='m-120.1 53.67 2.993-3.508 2.011-0.2806 2.783-2.105-2.83 3.718z'/%3E%3Cpath d='m-113 52.77 1.191 10.62 1.753-5.689s3.605 9.327 3.506 8.401c-0.0992-0.926 0.7276-5.953 0.7276-5.953l-1.224 1.058-3.704-7.441-0.7938 2.646z'/%3E%3Cpath d='m-108.6 52.8 2.844 3.142-0.8599 0.1654 16.83 12.07-0.2977-0.926 2.861 1.786-11.51-11.96-0.3498-1.978-1.555-1.707-0.129-1.226 8.963 1.406-10.55-5.209 1.488 2.084-5.325 0.6615 1.124 2.514-0.1984 1.455z'/%3E%3Cpath d='m-109.4 44.59c0.2572-0.04677 5.636-1.052 5.636-1.052l5.122 1.076-5.426 0.9354-1.964-0.9121z'/%3E%3Cpath d='m-105.9 40.71 8.325-12.96-6.969 5.519-0.2339-4.818 2.853-7.25-5.519 6.361 1.731-0.7016-1.263 10.71 2.666-2.76z'/%3E%3Cpath d='m-109.1 31.26-8.606-19.55 0.9354 13.52-1.497-1.123 0.5145 7.063-8.746-7.39 6.782 13.1 0.0935-2.526 1.169 3.929-3.414-1.403-3.274-2.806 2.806 4.864-0.2806-1.497 6.595 3.227-0.791-2.317 3.527 2.925-5.776-7.18 5.776 2.666 1.754-5.238 1.614 4.841-0.6782-5.847z'/%3E%3C/g%3E%3C/svg%3E");
  animation: punch 600ms ease-in;
}

@keyframes punch {
  10%{
    transform: scale(1.5,1.5) translate(-50%, -50%);
    opacity: 1;
  }
  100%{
    transform: scale(1.5,1.5) translate(-50%, -50%);
  }
}

.death {
  -webkit-animation: dieing 1s ease-out forwards !important;
          animation: dieing 1s ease-out forwards !important;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0.2vh, 0.8vh);
            transform: translate(0.2vh, 0.8vh);
  }
  25% {
    -webkit-transform: translate(0vh, 0vh);
            transform: translate(0vh, 0vh);
  }
  50% {
    -webkit-transform: translate(-0.2vh, -0.8vh);
            transform: translate(-0.2vh, -0.8vh);
  }
  75% {
    -webkit-transform: translate(0vh, 0vh);
            transform: translate(0vh, 0vh);
  }
  100% {
    -webkit-transform: translate(0.2vh, 0.8vh);
            transform: translate(0.2vh, 0.8vh);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0.2vh, 0.8vh);
            transform: translate(0.2vh, 0.8vh);
  }
  25% {
    -webkit-transform: translate(0vh, 0vh);
            transform: translate(0vh, 0vh);
  }
  50% {
    -webkit-transform: translate(-0.2vh, -0.8vh);
            transform: translate(-0.2vh, -0.8vh);
  }
  75% {
    -webkit-transform: translate(0vh, 0vh);
            transform: translate(0vh, 0vh);
  }
  100% {
    -webkit-transform: translate(0.2vh, 0.8vh);
            transform: translate(0.2vh, 0.8vh);
  }
}

@-webkit-keyframes startcom {
  0% {
    left: -100%;
    height: 0;
  }
  30% {
    left: 50%;
    height: 20vh;
  }
  70% {
    left: 50%;
    height: 20vh;
  }
  100% {
    left: 150%;
    height: 0;
  }
}

@keyframes startcom {
  0% {
    left: -100%;
    height: 0;
  }
  30% {
    left: 50%;
    height: 20vh;
  }
  70% {
    left: 50%;
    height: 20vh;
  }
  100% {
    left: 150%;
    height: 0;
  }
}

@-webkit-keyframes breath {
  50% {
    -webkit-transform: scale(1.01, 0.98) translate(-50%);
            transform: scale(1.01, 0.98) translate(-50%);
  }
}

@keyframes breath {
  50% {
    -webkit-transform: scale(1.01, 0.98) translate(-50%);
            transform: scale(1.01, 0.98) translate(-50%);
  }
}

@-webkit-keyframes hitIcon {
  30% {
    opacity: 1;
    font-size: 20vh;
  }
  100% {
    opacity: 0;
    font-size: 20vh;
  }
}

@keyframes hitIcon {
  30% {
    opacity: 1;
    font-size: 20vh;
  }
  100% {
    opacity: 0;
    font-size: 20vh;
  }
}

@-webkit-keyframes dam {
  20% {
    top: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 200%;
  }
}

@keyframes dam {
  20% {
    top: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 200%;
  }
}

@-webkit-keyframes dp {
  100% {
    font-size: 4vh;
  }
}

@keyframes dp {
  100% {
    font-size: 4vh;
  }
}

@-webkit-keyframes stunned {
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
            transform: rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes stunned {
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
            transform: rotateY(360deg) rotateZ(360deg);
  }
}

@-webkit-keyframes addStat {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes addStat {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: translate(-0.5vh);
            transform: translate(-0.5vh);
  }
  75% {
    -webkit-transform: translate(0.5vh);
            transform: translate(0.5vh);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: translate(-0.5vh);
            transform: translate(-0.5vh);
  }
  75% {
    -webkit-transform: translate(0.5vh);
            transform: translate(0.5vh);
  }
}

@-webkit-keyframes dieing {
  100% {
    opacity: 0;
  }
}

@keyframes dieing {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes particle {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes particle {
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes addNewDieFace {
  100% {
    top: 1vh;
    right: 10vh;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.2;
  }
}

@keyframes addNewDieFace {
  100% {
    top: 1vh;
    right: 10vh;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.2;
  }
}

@-webkit-keyframes openEvent {
  100% {
    width: 125vh;
  }
}

@keyframes openEvent {
  100% {
    width: 125vh;
  }
}

@-webkit-keyframes displayEvent {
  100% {
    opacity: 1;
  }
}

@keyframes displayEvent {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heal {
  60% {
    -webkit-transform: scale(1.005);
            transform: scale(1.005);
  }
}

@keyframes heal {
  60% {
    -webkit-transform: scale(1.005);
            transform: scale(1.005);
  }
}

@-webkit-keyframes runAway {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    left: -60vw;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes runAway {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    left: -60vw;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}