@font-face {
  font-family: diceicon;
  src: url(diceicons.ttf);
}

.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 8vh;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 8vh;
  position: relative;
  z-index: 100;
}
.even-roll {
  transition: transform 1.2s ease-out;
}
.odd-roll {
  transition: transform 1.2s ease-out;
}
.die-item {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cg transform='translate(-23.441 -144.92)'%3E%3Cg transform='matrix(1.0777 0 0 1.0436 -4.3956 -7.0054)' stroke-opacity='.062745' stroke-width='.23526'%3E%3Crect x='25.831' y='145.58' width='23.198' height='23.956' fill='%23755c32'/%3E%3Cpath d='m25.831 145.58 1.0318 1.6704 0.14549 3.9944-0.1777 6.4318 0.20255 5.2804-0.23477 5.1458-0.96739 1.4333 1.4093-1.055 7.1424-0.13225 3.0193 0.11425 5.0501-0.11992 5.1115 0.10192 1.4655 1.0894-1.1041-1.4153 0.2387-5.8047-0.25216-10.877 0.14368-4.3875 0.97387-1.4717-1.3864 0.99546-4.9124 0.21258-5.2922-0.15718-5.11 0.095-5.0946-0.0396z' fill='%23ae976f'/%3E%3Cpath d='m27.233 147.45 0.52547-0.42721 9.671-0.0101 9.7099 0.0112 0.48742 0.33888-0.0054 20.462-0.3084 0.2773-9.8834-8e-3h-9.308l-0.88383-0.52292z' fill='%233f3030'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  display: grid;
  padding: 1.8vh;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 8vh;
  width: 8vh;
  transition: 0.5s;
  transition-property: opacity;
}

.chained li:nth-child(odd)::after,
.chained li:nth-child(even)::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 115 115'%3E%3Cg transform='translate(-16.15 -91.65)' fill='%23929fa2' stroke-opacity='.06275'%3E%3Cg stroke-width='.2646'%3E%3Cpath d='m22.87 93.57 1.759 10.61 19.14 0.1369 0.8117-12.39-18.94 1.78 0.2706 2.738 15.42-1.232-0.5411 5.407-14.07 0.6844-0.7824-4.881-0.2989-2.734z'/%3E%3Cpath d='m40.03 97.42 16.65-1.744 0.09566 3.728-16.98 0.242z'/%3E%3Cpath d='m50.43 91.65 0.5411 13.21 18.06-1.574 1.15-10.75-16.71-0.6747-0.3991 2.963 13.06 0.6948 0.1975 5.367-12.16 0.8096-0.703-9.835z'/%3E%3Cpath d='m64.77 96.91 0.05073 2.498 14.26 1.899 0.2029-3.97z'/%3E%3Cpath d='m74.28 93.16-0.6764 11.43 20.97 0.8213 0.8794-13-18.53 0.6844-0.6595 2.789 15.8 0.5678-1.052 5.759-14.49 0.4356 0.4012-9.552z'/%3E%3Cpath d='m90.42 98.63-0.287 1.936 16.1 0.7744-0.4066-4.525s-30.8 3.63-15.4 1.815z'/%3E%3Cpath d='m100.7 92.5-0.1855 14.74 21.72-1.162-0.4783-12-18.08-1.549-0.6204 3.214 16.36 0.8031 0.2392 6.534-15.88 0.3872-0.0957-10.94z'/%3E%3Cpath d='m123.3 205-1.759-10.61-19.14-0.1369-0.8117 12.39 18.94-1.78-0.2706-2.738-15.42 1.232 0.5411-5.407 14.07-0.6844 0.7824 4.881 0.2989 2.734z'/%3E%3Cpath d='m106.2 201.1-16.65 1.744-0.09566-3.728 16.98-0.242z'/%3E%3Cpath d='m95.78 206.9-0.5411-13.21-18.06 1.574-1.15 10.75 16.71 0.6747 0.3991-2.963-13.06-0.6948-0.1975-5.367 12.16-0.8096 0.703 9.835z'/%3E%3Cpath d='m81.44 201.6-0.05073-2.498-14.26-1.899-0.2029 3.97z'/%3E%3Cpath d='m71.93 205.4 0.6764-11.43-20.97-0.8213-0.8794 13 18.53-0.6844 0.6595-2.789-15.8-0.5678 1.052-5.759 14.49-0.4356-0.4012 9.552z'/%3E%3Cpath d='m55.79 199.9 0.287-1.936-16.1-0.7744 0.4066 4.525s30.8-3.63 15.4-1.815z'/%3E%3Cpath d='m45.49 206.1 0.1855-14.74-21.72 1.162 0.4783 12 18.08 1.549 0.6204-3.214-16.36-0.8031-0.2392-6.534 15.88-0.3872 0.09567 10.94z'/%3E%3C/g%3E%3Cg transform='matrix(0 1.024 -1.012 0 319.1 70.17)' stroke-width='.2598'%3E%3Cpath d='m126.2 199.1-1.737-10.36-18.91-0.1336-0.8018 12.09 18.71-1.737-0.2673-2.673-15.23 1.203 0.5345-5.279 13.9-0.6682 0.7728 4.765 0.2953 2.669z'/%3E%3Cpath d='m109.2 195.3-16.44 1.702-0.09449-3.639 16.77-0.2362z'/%3E%3Cpath d='m98.97 200.9-0.5345-12.9-17.84 1.537-1.136 10.49 16.51 0.6587 0.3942-2.893-12.9-0.6782-0.1951-5.239 12.01-0.7903 0.6945 9.601z'/%3E%3Cpath d='m84.8 195.8-0.05011-2.439-14.08-1.854-0.2005 3.875z'/%3E%3Cpath d='m75.4 199.5 0.6682-11.16-20.71-0.8018-0.8686 12.7 18.31-0.6682 0.6515-2.723-15.61-0.5543 1.039-5.622 14.32-0.4252-0.3963 9.325z'/%3E%3Cpath d='m59.47 194.1 0.2835-1.89-15.9-0.756 0.4016 4.418s30.43-3.544 15.21-1.772z'/%3E%3Cpath d='m49.29 200.1 0.1832-14.39-21.45 1.134 0.4725 11.72 17.86 1.512 0.6128-3.137-16.16-0.784-0.2362-6.378 15.69-0.378 0.0945 10.68z'/%3E%3C/g%3E%3Cg transform='matrix(0 1.024 1.012 0 -171.9 69.75)' stroke-width='.2598'%3E%3Cpath d='m126.2 199.1-1.737-10.36-18.91-0.1336-0.8018 12.09 18.71-1.737-0.2673-2.673-15.23 1.203 0.5345-5.279 13.9-0.6682 0.7728 4.765 0.2953 2.669z'/%3E%3Cpath d='m109.2 195.3-16.44 1.702-0.09449-3.639 16.77-0.2362z'/%3E%3Cpath d='m98.97 200.9-0.5345-12.9-17.84 1.537-1.136 10.49 16.51 0.6587 0.3942-2.893-12.9-0.6782-0.1951-5.239 12.01-0.7903 0.6945 9.601z'/%3E%3Cpath d='m84.8 195.8-0.05011-2.439-14.08-1.854-0.2005 3.875z'/%3E%3Cpath d='m75.4 199.5 0.6682-11.16-20.71-0.8018-0.8686 12.7 18.31-0.6682 0.6515-2.723-15.61-0.5543 1.039-5.622 14.32-0.4252-0.3963 9.325z'/%3E%3Cpath d='m59.47 194.1 0.2835-1.89-15.9-0.756 0.4016 4.418s30.43-3.544 15.21-1.772z'/%3E%3Cpath d='m49.29 200.1 0.1832-14.39-21.45 1.134 0.4725 11.72 17.86 1.512 0.6128-3.137-16.16-0.784-0.2362-6.378 15.69-0.378 0.0945 10.68z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.broken::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cg transform='translate(-77.08 -196.7)'%3E%3Cpath d='m76.48 197.2 2.84 2.587 2.682 0.915 0.3786 2.619-1.862 3.755 0.09756 0.0699 0.9726-1.732 1.46-0.3855 0.5209-0.6118-0.6697 0.554-1.255 0.2987 1.048-1.853 2.332-0.9426 1.418-2.673 0.9054-3.669-0.06925 0.0207-1.035 3.621-1.295 2.515-0.02377-1.518-0.6367-0.7524 0.4548 0.7441 0.04961 1.588-2.208 0.8268-0.3948-2.588-1.199-0.4434-0.7131-1.731 0.5715 1.712-1.4-0.4961-2.634-2.317z' fill='%23f7f2db' fill-opacity='.4'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% 100%;
  z-index: 1;
}

.die-item .dot {
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 4vh;
  height: 4vh;
}

.die-item .dot span {
  font-family: diceicon;
  font-size: 3.5vh;
  color: rgb(190, 163, 106);
  display: block;
  text-shadow: -0.1vh -0.1vh 0 rgba(0, 0, 0, 0.5),
    0.1vh -0.1vh 0 rgba(0, 0, 0, 0.5), -0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5),
    0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5);
}

.die-item .dot .curse {
  font-family: diceIcon;
  font-size: 5.5vh;
  position: relative;
  top: -0.3vh;
  color: black;
  font-weight: lighter;
  text-shadow: none;
}

.die-item .dot .brandmark {
  color: rgb(185, 19, 52);
  animation: brandmark 5s ease forwards;
}

.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(90deg) rotateY(270deg) rotateZ(90deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(360deg) rotateZ(0deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg);
}

.odd-roll[data-roll="1"] {
  transform: rotateX(-180deg) rotateY(-180deg) rotateZ(-180deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(0deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(90deg) rotateY(-90deg) rotateZ(-270deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-270deg) rotateZ(0deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-180deg) rotateY(0deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4vh);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4vh);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4vh);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4vh);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4vh);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4vh);
}

.dot1 p:nth-of-type(1) {
  grid-area: five;
}
.dot2 p:nth-of-type(1) {
  grid-area: one;
}
.dot2 p:nth-of-type(2) {
  grid-area: nine;
}
.dot3 p:nth-of-type(1) {
  grid-area: one;
}
.dot3 p:nth-of-type(2) {
  grid-area: five;
}
.dot3 p:nth-of-type(3) {
  grid-area: nine;
}
.dot4 p:nth-of-type(1) {
  grid-area: one;
}
.dot4 p:nth-of-type(2) {
  grid-area: three;
}
.dot4 p:nth-of-type(3) {
  grid-area: seven;
}
.dot4 p:nth-of-type(4) {
  grid-area: nine;
}
.dot5 p:nth-of-type(1) {
  grid-area: one;
}
.dot5 p:nth-of-type(2) {
  grid-area: three;
}
.dot5 p:nth-of-type(3) {
  grid-area: five;
  z-index: 1;
}
.dot5 p:nth-of-type(4) {
  grid-area: seven;
}
.dot5 p:nth-of-type(5) {
  grid-area: nine;
}
.dot6 p:nth-of-type(1) {
  grid-area: one;
}
.dot6 p:nth-of-type(2) {
  grid-area: two;
  z-index: 1;
}
.dot6 p:nth-of-type(3) {
  grid-area: three;
}
.dot6 p:nth-of-type(4) {
  grid-area: seven;
}
.dot6 p:nth-of-type(5) {
  grid-area: eight;
  z-index: 1;
}
.dot6 p:nth-of-type(6) {
  grid-area: nine;
}

@keyframes brandmark {
  10% {
    text-shadow: 0 -3 8vh white;
  }
  30% {
    text-shadow: 0 -6vh 4vh white;
  }
  100% {
    text-shadow: 0 -8vh 4vh transparent;
    color: black;
  }
}
