@font-face {
  font-family: map;
  src: url(orienemy.ttf);
}

.close-map {
  position: absolute;
  right: 5vh;
  bottom: 11vh;
  z-index: 100;
}

.stage{
  position: absolute;
  width: 200vw;;
  text-align: center;
  color: white;
  font-size: 30vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  pointer-events: none;
  opacity: 0;
  animation: stage 3s 500ms ease forwards;
}

@keyframes stage {
  40%{
    opacity: 1;
  }  
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.pick{
  position: absolute;
  left: 50%;
  color: #9a784e;
  transform: translate(-50%);
  bottom: 16vh;
  font-size: 3vh;
  z-index: 34;
  text-shadow: -0.1vh -0.1vh 0 #fff, 0.1vh -0.1vh 0 #fff,
  -0.1vh 0.1vh #fff, 0.1vh 0.1vh 0 #fff;
  opacity: 0;
  animation: fadein 1s 500ms ease forwards;
}

.open-map {
  -webkit-animation: openMap 0s forwards;
          animation: openMap 0s forwards;
}

.map-container {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 130vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 33;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-container::after, .map-container::before {
  content: "";
  height: 30vh;
  position: absolute;
  left: 50%;
  width: 130vh;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 289.1 53.73'%3E%3Cg transform='matrix(0 .7891 -1 0 289.1 0)' stroke-opacity='.06275' stroke-width='1.126'%3E%3Cpath d='m0.1154 15.51 6.661 76.8-6.776 114.9 4.69 70.57 12.82 4.834 0.5388-19.36 3.882 20.13 13.7 5.73 32.24-11.76-8.714-84.52 7.407-116.3 1.536-64.79-11.01-4.467-6.824 12.48-0.489-15.27-12.79-4.452z' fill='%23d8d0ab'/%3E%3Cpath d='m35.62 289.1-16.12-63.17 13.94-72.32-3.05-57.07 9.149-50.54-2.567-46 12.79 4.452 0.489 15.27 6.824-12.48 11.01 4.467-1.531 64.79-7.412 116.3 8.714 84.52z' fill-opacity='.2'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% 100%;
  z-index: 1;
}

.map-container::before {
  top: 0;
}

.map-container::after {
  -webkit-transform: rotateX(-180deg) translate(-50%);
          transform: rotateX(-180deg) translate(-50%);
  bottom: -220vh;
}

.map-container::-webkit-scrollbar {
  width: 0;
}

.map-container::-webkit-scrollbar-track {
  width: 0;
}

.map-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.map-container .map {
  position: absolute;
  top: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 522 1257'%3E%3Cpath d='m0.2863 12.08 74.64-12.08 375.4 0.3436 71.5 9.507-10.57 231.1 0.9506 264.4-27.56 8.433 30.11 0.6579 2.894 79.05-40.2 15.52 39.17 1.708 0.3795 61.82-16.85 4.535 15.55 3.887-11.01 254.6 5.166 162.1-23.67 3.414 25.9 5.034 2.899 43.91-52.31 11.02 55.35 1.395 3.583 76.07-98.15 18.34-338.2-0.1145-84.87-18.55 0.6372-78.58 18.13-5.689-18.34-37.22 18.97-192.2-19.46-146.1 25.27-3.887-23.34-11.2 23.66-333.2-12.34-134 21.69 19.01-19.45-50.72-11.02-109.7 24.61-6.66-22.69-9.9 7.44-75.01z' fill='%23d8d0ab' stroke-opacity='.06275'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  width: 116vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20vh auto;
  padding: 10vh 10vh 10vh 14vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12vh 12vh 12vh 12vh 12vh 12vh 12vh 12vh;
      grid-template-columns: 12vh 12vh 12vh 12vh 12vh 12vh 12vh 12vh;
}

.map-container .map::after {
  content: "";
  position: absolute;
  bottom: -10vh;
  height: 10vh;
  width: 10vh;
}

.map-container .map .bg-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 522 1257'%3E%3Cpath d='m15.89 264.4 495.4-23.36 0.9531 264.3-27.56 8.433-458.7-83.63-12.34-134 21.69 19.01z' fill-opacity='.03' stroke-opacity='.06275'/%3E%3Cpath d='m19.85 924.6 484.9 11.01 11.01-254.6-15.55-3.887-497.9 86.28 23.34 11.2-25.27 3.887z' fill-opacity='.03' stroke-opacity='.06275'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.map-container .map .boss {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
  width: 98.5%;
  height: 36vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 5.5vh;
  top: 0.1vh;
  position: relative;
}

.map-container .map .boss img {
  position: absolute;
  left: 0;
  top: 0.1vh;
  width: 100%;
  height: 100%;
}

.map-container .map .boss .dot {
  position: relative;
  font-family: map;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: #ccc18f;
  font-size: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9a784e;
  z-index: 10;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.map-container .map .boss .dot strong {
  position: absolute;
  left: 50%;
  width: 100vw;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  font-size: 1vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  color: #5e492f;
  text-align: center;
}

.map-container .map .boss .dot:hover {
  color: #5e492f;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  height: 7.5vh;
  width: 7.5vh;
}

.map-container .map .boss .dot:hover strong {
  opacity: 1;
  font-size: 4vh;
}

.map-container .map .placeholder {
  position: relative;
  left: 4vh;
  width: 0.5vh;
  height: 16vh;
}

.map-container .map .placeholder .room-bg {
  position: absolute;
  width: 12vh;
  height: 16vh;
}

.map-container .map .placeholder .room-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-container .map .room {
  z-index: 1;
  position: relative;
  width: 12vh;
  height: 1vh;
}

.map-container .map .room .dot {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5vh;
  height: 5vh;
  color: #9a784e;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.5vh;
  border-radius: 50%;
}

.map-container .map .room .dot .burried {
  -webkit-animation: burried 1s ease forwards;
          animation: burried 1s ease forwards;
  color: crimson;
  font-size: 8vh;
  -webkit-transform: translate(100%, -100%) scale(2);
          transform: translate(100%, -100%) scale(2);
}

.map-container .map .room .dot strong {
  position: absolute;
  width: 100vh;
  left: 55%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  font-size: 1vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  color: #5e492f;
  font-weight: lighter;
  text-shadow: none;
  text-align: center;
  pointer-events: none;
}

.map-container .map .room .dot:hover {
  -webkit-transform: scale(1.4) translate(-35%, -35%);
          transform: scale(1.4) translate(-35%, -35%);
  color: #5e492f;
}

.map-container .map .room .dot:hover strong {
  opacity: 1;
  font-size: 2vh;
}

.map-container .map .room .dot div {
  font-family: map;
  width: 0.1vh;
  height: 5.5vh;
}

.map-container .map .room .prev-room {
  color: #5e492f;
}

.map-container .map .room .choose-room {
  -webkit-animation: openRoom 2s ease infinite;
          animation: openRoom 2s ease infinite;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.map-container .map .room .choose-room:hover {
  color: #5e492f;
  text-shadow: -0.1vh -0.1vh 0 #fff, 0.1vh -0.1vh 0 #fff,
 -0.1vh 0.1vh #fff, 0.1vh 0.1vh 0 #fff;
}

.path {
  stroke-width: 0.8vh;
  opacity: 1;
  z-index: 1;
}

.op-path svg {
  -webkit-clip-path: polygon(0% calc(0% + 3vh), calc(0% + 3vh) calc(0% + 2vh), calc(0% + 3vh) calc(0% + 2vh), calc(100% - 3vh) calc(0% + 2vh), calc(100% - 3vh) calc(0% + 2vh), 100% calc(0% + 3vh), 100% calc(100% - 3vh), calc(100% - 3vh) calc(100% - 2vh), calc(100% - 3vh) calc(100% - 2vh), calc(0% + 3vh) calc(100% - 2vh), calc(0% + 3vh) calc(100% - 2vh), 0% calc(100% - 2vh));
          clip-path: polygon(0% calc(0% + 3vh), calc(0% + 3vh) calc(0% + 2vh), calc(0% + 3vh) calc(0% + 2vh), calc(100% - 3vh) calc(0% + 2vh), calc(100% - 3vh) calc(0% + 2vh), 100% calc(0% + 3vh), 100% calc(100% - 3vh), calc(100% - 3vh) calc(100% - 2vh), calc(100% - 3vh) calc(100% - 2vh), calc(0% + 3vh) calc(100% - 2vh), calc(0% + 3vh) calc(100% - 2vh), 0% calc(100% - 2vh));
}

.op-path svg path {
  stroke-width: 0.45vh;
  opacity: 0.3;
  stroke-dasharray: 1vh 0.7vh 0.5vh 1vh 0.5vh 0.7vh;
  stroke: #5e492f;
}

.oppath svg path {
  -webkit-animation: optpath 1.8s ease infinite;
          animation: optpath 1.8s ease infinite;
  opacity: 1 !important;
}

.chozen-path svg path {
  opacity: 1 !important;
}

@-webkit-keyframes openRoom {
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.6);
            transform: translate(-50%, -50%) scale(1.6);
    color: #5e492f;
    text-shadow: -0.1vh -0.1vh 0 #fff, 0.1vh -0.1vh 0 #fff, -0.1vh 0.1vh #fff,
 0.1vh 0.1vh 0 #fff;
  }
}

@keyframes openRoom {
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.6);
            transform: translate(-50%, -50%) scale(1.6);
    color: #5e492f;
    text-shadow: -0.1vh -0.1vh 0 #fff, 0.1vh -0.1vh 0 #fff, -0.1vh 0.1vh #fff,
 0.1vh 0.1vh 0 #fff;
  }
}

@-webkit-keyframes optpath {
  50% {
    opacity: 0;
  }
}

@keyframes optpath {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes openMap {
  100% {
    height: 100vh;
  }
}

@keyframes openMap {
  100% {
    height: 100vh;
  }
}

@-webkit-keyframes burried {
  100% {
    -webkit-transform: scale(1) translate(50%, -50%);
            transform: scale(1) translate(50%, -50%);
  }
}

@keyframes burried {
  100% {
    -webkit-transform: scale(1) translate(50%, -50%);
            transform: scale(1) translate(50%, -50%);
  }
}

